.marketplacesWrapper
{
    display: flex;
    flex-wrap:wrap;
    .addMarketplaceWrapper{
        text-align: center;
        margin-top: 2%;
        margin-left: 2%;
        border-style: solid;
        width: fit-content;
        flex: 10%;

        .addMarketplaceIcon{
            font-size: 200px;
            color: rgb(81, 255, 0);
            transition: 0.2s linear;
            cursor: pointer;
            
            &:hover{
                color: rgb(68, 214, 0);
                transition: 0.2s linear;
                // box-shadow: 0px 0px 8px 0px black;
            }
        }
        .addMarketplaceCallToAction{
            text-align: center;
            margin-right: 10%;
        }
    }
    .marketplaceWrapper{
        text-align: center;

        flex: 10%;

        margin-top: 2%;
        margin-left: 2%;
        border-style: solid;
        
        .MarketplaceIcon{
            font-size: 200px;
            color: rgb(81, 255, 0);
            transition: 0.2s linear;
            cursor: pointer;
            
            &:hover{
                color: rgb(68, 214, 0);
                transition: 0.2s linear;
                // box-shadow: 0px 0px 8px 0px black;
            }
        }
        .MarketplaceCallToAction{
            text-align: center;
            margin-right: 10%;
        }
    }

}

.loggedOut{
    margin-bottom: 28%;
}