
.targetProductWrapper{
    overflow: hidden;
    .leftSideMenu{
        float: left;
        .TargetProduct{
            .ProductImageWrapper{
                .productImage{


                }

            }
        }
    }
    .rightSideMenu{
        border: 1px  solid rgba(0, 0, 0, 0.12);
        border-bottom: none;
        margin-left: 20%;
        height: 454px;
        // overflow: hidden;
    }
    .productInteractionWrapper{
        // margin-top: 100%;
        // border-style: solid;
        border: 1px  solid rgba(0, 0, 0, 0.12);
    }
    .productDescriptionWrapper{
        overflow-y: auto;
        .productDescription{
            height: 186px;
        }
    }
}