.marketplaceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marketplaceWrapper .marketplaceBannerWrapper {
  width: 300px;
  height: 280px;
  margin: 2%;
}

.marketplaceWrapper .marketplaceBannerWrapper .marketplaceBanner {
  width: 300px;
  height: 280px;
}

.marketplaceWrapper .marketplaceDetailsWrapper {
  width: 100%;
  margin: 1%;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceDescription {
  border-style: solid;
  border-color: #406367;
  border-width: 1px;
  border-radius: 4px;
  height: 120px;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceDescription .marketplaceDescriptionSpan {
  margin-left: 1%;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceOwner {
  margin-bottom: 1%;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceTagsWrapper {
  margin-top: 1.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceTagsWrapper .marketplaceTagWrapper {
  margin-left: 2%;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceTagsWrapper .marketplaceTagWrapper:first-child {
  margin-left: 0%;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceTagsWrapper .marketplaceTag {
  border-style: solid;
  padding: 6px 16px;
  border-radius: 4px;
  border-color: #406367;
  border-width: 1px;
  color: #406367;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceTagsWrapper .marketplaceTag:hover {
  color: black;
  border-color: black;
  -webkit-box-shadow: 2px 2px 2px 0.5px gray;
          box-shadow: 2px 2px 2px 0.5px gray;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceTagsWrapper .marketplaceTag .tagIcon {
  width: 1rem;
  vertical-align: top;
  font-size: 18px;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceControlButtons {
  margin-top: 1%;
}

.marketplaceWrapper .marketplaceDetailsWrapper .marketplaceDeleteIcon {
  height: 2vh;
  margin-bottom: 2%;
}

.marketplaceProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.marketplaceProducts .marketplaceProduct {
  margin: 2%;
  width: 400px;
}

.marketplaceProducts .marketplaceProduct .productCard .productImage {
  width: 240px;
  height: 240px;
  margin-left: 17%;
}

.marketplaceProducts .marketplaceProduct .productCard .productName {
  text-align: center;
}

.marketplaceProducts .marketplaceProduct .productCard .productPrice {
  text-align: right;
  margin-right: 3%;
}

.marketplaceProducts .marketplaceProduct .productCard .buyProductButton {
  float: right;
}

.marketplaceViewOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.marketplaceViewOptions .ProductsOption {
  width: 50%;
}

.marketplaceViewOptions .ReviewsOption {
  width: 50%;
}

.marketplaceReviews .marketplaceReview {
  margin-top: 1%;
  width: 90%;
  margin-left: 5%;
}

.marketplaceReviews .reviewGiver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marketplaceReviews .reviewGiver .reviewGiverUsername {
  color: black !important;
}

.marketplaceReviews .reviewGiver .reviewGiverIcon {
  width: 1rem;
  vertical-align: bottom;
  font-size: 18px;
}

.marketplaceReviews .reviewQuestionnaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.marketplaceReviews .reviewQuestionnaire .reviewHelpfulIcon {
  color: green;
  height: 2em;
}

.marketplaceReviews .reviewQuestionnaire .reviewHelpfulIcon:hover {
  color: #006800;
  cursor: pointer;
}

.marketplaceReviews .reviewQuestionnaire .reviewNotHelpfulIcon {
  height: 2em;
  color: red;
}

.marketplaceReviews .reviewQuestionnaire .reviewNotHelpfulIcon:hover {
  color: #c50000;
  cursor: pointer;
}

.marketplaceReviews .reviewRatingWrapper .reviewRating {
  color: #406367;
  font-size: 0.85rem;
}

.loadingCircleWrapper {
  margin-top: 15%;
  margin-bottom: 20%;
  text-align: center;
}

.marketplaceSettingsWrapper {
  margin-top: 2%;
}

.marketplaceSettingsWrapper .marketplaceSettingsIcon:hover {
  color: #ed6c02;
  cursor: pointer;
}
/*# sourceMappingURL=marketplaceStyles.css.map */