.marketplaceWrapper{
    display: flex;
    border-style: solid;
    .marketplaceBannerWrapper{
        border-style: solid;
        width: 300px;
        height: 280px;
        margin: 2%;
        .marketplaceBanner{

        }
    }

    .marketplaceDetailsWrapper{
        //  display: flex;
        // margin-left: 1%;
        width: 100%;
        margin: 1%;
        .marketplaceName{
            border-style: solid;
        }
        .marketplaceDescription{
            border-style: solid;
            height: 175px;
        }
        .marketplaceOwner{
            border-style: solid;
        }
    }
    
}
.marketplaceProducts{
    display: flex;
    flex-wrap: wrap;
    .marketplaceProduct{
        margin: 2%;
        width: 400px;
        .productCard{
            .productImage{
                width: 240px;
                height: 240px;
                margin-left: 23%;
            }
            .productName{
                text-align: center;
            }
            .productDescription{

            }
            .productPrice{
                float: right;
            }
        }
    }
}