.FormControl{
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5% !important;
}

.formWrapper{
    display: grid; 
    
    @media screen and (max-width: 817px) {
        margin-top: 20%;
        width: 60%;
        margin-left: 20%;
        .loginButton{
            margin-top: 5%;
        }
        
    }
    
    @media screen and (min-width: 818px) and (max-width: 1920px) {
        margin-top: 7%;
        width:25%;
        margin-left: 36.5%;
        .loginButton{
            margin-top: 5%;
        }
    }


}
