.userProductsWrapper{
    text-align: center;
    .addProductButtonWrapper{
        width: 20%;
        margin-left: 40%;
        margin-top: 2%;
        .addProductButton{
            width: 100%;
        }
    }
}